body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

input[type="text"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  appearance: none;
  padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23ccc"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  width: calc(100% - 0.1px);
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

button.back-home {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-top: -20px;
}

button.back-home:hover {
  background-color: #0056b3;
}

@font-face {
  font-family: "poppin";
  src: url(../poppins/Poppins-Regular.otf);
}
